<!DOCTYPE html>
<html>
<head>
	<title>{% block brand %}Megamart Administration - Home{% endblock %}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	{% load staticfiles %}
	<link href="{% static 'css/simpleGrid.min.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'css/fonts.min.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'css/dashboard.min.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" type="text/css" rel="stylesheet">
	{% block cssimport %}{% endblock %}

</head>
<body>

<section class="dashboard">
	<div class="logo">
		<a href="{% url 'admin_home' %}">
			<h1> megamart </h1>
		</a>
	</div>

	
	<ul>
	{% block nav %}
		<li><a href="{% url 'admin_home' %}" class="{% block nav_home %}{% endblock %}"> Dashboard </a></li>
		<li><a href="{% url 'admin_branches' %}" class="{% block nav_branches %}{% endblock %}"> Branches </a></li>
		<li><a href="{% url 'report' %}" class="{% block nav_report %}{% endblock %}"> Report </a></li>
	{% endblock %}
	</ul>
	
</section>

<section class="content">
	<div class="dashboard-top">
		<a href="{% url 'logout' %}">
			<h5> Logout </h5>
		</a>
		<a href="#">
			<img src="{% static 'img/avatar.png' %}">
			<h5> {{ request.user.first_name }} {{ request.user.last_name }} </h5>
		</a>
	</div>
	<div class="dashboard-content">
	{% block content %}

	{% endblock %}
	</div>
	
</section>

</body>

<script src="{% static 'js/jquery.js' %}"></script>
{% block javascript %}
{% endblock %}
</html>