{% extends 'megamart/admin/base_dashboard.html' %}

{% block content %}

<h1> Bangalore </h1>

<div class="grid full-width">
	<div class="col-1-4">
		<div class="box">
			<h3> RR Nagar </h3>
			<p>  18/2, Gopalan – The Arch Mall, Near The Arch, Mysore Road, Rajeshwari Nagar </p>
		</div>
	</div>

	<div class="col-1-4">
		<div class="box">
			<h3> RR Nagar </h3>
			<p>  18/2, Gopalan – The Arch Mall, Near The Arch, Mysore Road, Rajeshwari Nagar </p>
		</div>
	</div>	

	<div class="col-1-4">
		<div class="box">
			<h3> RR Nagar </h3>
			<p>  18/2, Gopalan – The Arch Mall, Near The Arch, Mysore Road, Rajeshwari Nagar </p>
		</div>
	</div>	

	<div class="col-1-4">
		<div class="box">
			<h3> RR Nagar </h3>
			<p>  18/2, Gopalan – The Arch Mall, Near The Arch, Mysore Road, Rajeshwari Nagar </p>
		</div>
	</div>	

	<div class="col-1-4">
		<div class="box">
			<h3> RR Nagar </h3>
			<p>  18/2, Gopalan – The Arch Mall, Near The Arch, Mysore Road, Rajeshwari Nagar </p>
		</div>
	</div>		
</div>

{% endblock %}

{% block nav_branches %}active{% endblock %}