{% extends 'megamart/admin/base_dashboard.html' %}

{% block content %}

{% for city in cities %}
	<h1> {{ city.name }} </h1>

	<div class="grid full-width">
		{% for branch in city.branch_set.all %}
		{% url 'admin_branch_detail' branch.id as branch_url %}
		<div class="col-1-4" onclick="window.location = '{{ branch_url }}'">
			<div class="box">
				<h3> {{ branch.title|title }} </h3>
				<p>  {{ branch.address|title }} </p>
			</div>
		</div>		
		{% endfor %}

		<div class="col-1-4">
			{% url 'admin_add_branch' as new_branch_url %}
			<div class="add_branch_box" onclick="window.location = '{{ new_branch_url }}?city={{ city.id }}'">
				<i class="fa fa-fw fa-plus-circle"></i>
				<h3> Add Branch </h3>
			</div>
		</div>
	</div>
{% endfor %}

{% endblock %}

{% block nav_branches %}active{% endblock %}