{% extends 'megamart/admin/base_dashboard.html' %}

{% block content %}
<h2> <a href="{% url 'admin_branches' %}">Branches</a> <small>&gt;</small> {{ branch.city }} 
<small>&gt;</small> {{ branch.title }}
</h2>

<div class="grid full-width">
	<div class="col-1-4">
		<div class="box" style="cursor:default;">
			<h3> Address </h3>
			<p>  {{ branch.address|title }} </p>
		</div>
	</div>

	{% if branch.storeadmin %}
	<div class="col-1-4">
		<div class="box" style="cursor:default;">
			<h3> Store Manager </h3>
			<p>  <strong>{{ branch.storeadmin.name }}</strong> </p>
			<p> <strong> Username </strong>: {{ branch.storeadmin.user.username }} <br>
				<strong> Password </strong>: ***** 
			</p>

			<a href="{% url 'admin_store_new' branch.id %}" class="btn-add btn-warning" style="margin: 5px 0;"> 
				<i class="fa fa-fw fa-edit"></i> Edit 
			</a>
			<a href="{% url 'admin_store_delete' branch.id %}" class="btn-add btn-danger"> 
				<i class="fa fa-fw fa-trash"></i>Delete 
			</a>

		</div>
	</div>
	{% else %}
	<div class="col-1-4">
		{% url 'admin_store_new' branch.id as admin_store_new %}
		<div class="add_branch_box" onclick="window.location = '{{ admin_store_new }}'">
			<i class="fa fa-fw fa-plus-circle"></i>
			<h3> Add Store Admin </h3>
		</div>
	</div>
	{% endif %}
</div>

<div class="grid full-width">
	<div class="col-1-2">
		<h2> Employees </h2>
	</div>
	<div class="col-1-2" style="padding-right:0;">
		<a href="{% url 'admin_emp_new' branch.id %}" class="btn-add"> <i class="fa fa-fw fa-plus-circle"></i> Add employee </a>
	</div>
</div>

<table>
	<thead>
		<tr>
			<th> Sl. No </th>
			<th> Name </th>
			<th> Salary (INR/mo.) </th>
			<th> Phone </th>
			<th> Actions </th>
		</tr>
	</thead>
	<tbody>
		{% for employee in branch.employee_set.all %}
		<tr>
			<td> {{ forloop.counter }} </td>
			<td> {{ employee.name }}</td>
			<td> {{ employee.salary }} </td>
			<td> {{ employee.phone }} </td>
			<td> 
				<a href="{% url 'admin_emp_edit' branch.id employee.id %}" class="btn-warning"> <i class="fa fa-fw fa-edit"></i>Edit </a> 
				<a href="{% url 'admin_emp_delete' branch.id employee.id %}" class="btn-danger"> <i class="fa fa-fw fa-trash"></i>Delete </a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}

{% block nav_branches %}active{% endblock %}