{% extends 'megamart/admin/base_dashboard.html' %}

{% block content %}
<h2> 
	<a href="{% url 'admin_branches' %}">Employees</a> <small>&gt;</small> 
	<a href="{% url 'admin_branch_detail' branch.id %}">{{ branch.title }}</a>
	<small>&gt;</small> {% if employee %} Edit {% else %}New employee{% endif %}
</h2>

<ul class="messages" id="messages">
    <li class="success" id="success">
    	
    </li>
</ul>

<div class="grid full-width content-center">
	<div class="form-container">
		<form method="POST" action="" id="add_employee_form">
		{% csrf_token %}
			<input type="text" name="name" placeholder="Employee Name" autofocus required value="{{ employee.name }}">
			<input type="text" name="salary" placeholder="Salary" autofocus required value="{{ employee.salary }}">
			<input type="text" name="phone" placeholder="Phone No" autofocus required value="{{ employee.phone }}">
			
			<input type="submit" class="btn" value="{% if employee %}Update{% else %}Save employee{% endif %}" id="submit_btn">
		</form>
	</div>
</div>

{% endblock %}

{% block nav_employees %}active{% endblock %}

{% block javascript %}
<script>
	$("#messages").hide();

	$("#submit_btn").click(function(event) {
		event.preventDefault();
		var formData = $("#add_employee_form").serialize();
		var isEmployee = {% if employee %}true{% else %}false{% endif %};
		$.ajax({
			type: "POST",
			url: "{% if employee %}{% url 'admin_emp_edit' branch.id employee.id %}{% else %}{% url 'admin_emp_new' branch.id %}{% endif %}",
			data: formData,
			success: function(data) {
				$("#messages").show();
				var successStr = "<i class=\"fa fa-fw fa-check\"></i> Employee  \
				<strong>" + data['employee_name'] + "</strong> has been {% if employee %}updated{% else %}added{% endif %} successfully!";
				$("#success").html(successStr);

				{% if not employee %}
				$("#add_employee_form").trigger('reset');
				{% endif %}

		        $("#success").delay(5000).fadeOut('slow');

			},
			error: function(response, error) {
				console.log(error);
			}
		})
	}) 
</script>
{% endblock %}