{% extends 'store/dashboard.html' %}

{% block content %}
<div class="grid full-width">
	<div class="col-1-2">
		<h1> Select Category </h1>
	</div>
	<div class="col-1-2" style="padding-right:0;">
		<a href="{% url 'store:add_product' %}" class="btn-add"> <i class="fa fa-fw fa-plus-circle"></i> Add Product </a>
	</div>
</div>

<div class="grid full-width">
	{% for category in categories_stock %}
	{% url 'store:category' category.cat.id as url_cat %}
	<div class="col-1-4" onclick="window.location = '{{ url_cat }}'">
		<div class="box box-small">
			<h3> {{ category.cat.title }} </h3>
			<h2> {{ category.count }} items </h2>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}

{% block nav_stock %}active{% endblock %}